{{ model.name }}:
  nodes:
  {% for node in model.nodes %}
    "{{ node.name.full_name }}":
      from: "TODO.{{ node.name.full_name }}"
      {% if node.publisher | length > 0 or node.subscriber | length > 0 or node.actionserver | length > 0 or node.actionclient | length > 0 or node.serviceserver | length > 0 or node.serviceclient | length > 0%}
      interfaces:
      {% for interface in node.publisher %}
      	- "{{ interface.name }}": pub-> "TODO::{{ interface.name }}"
      {% endfor %}
      {% for interface in node.subscriber %}
      	- "{{ interface.name }}": sub-> "TODO::{{ interface.name }}"
      {% endfor %}
      {% for interface in node.actionserver %}
      	- "{{ interface.name }}": as-> "TODO::{{ interface.name }}"
      {% endfor %}
      {% for interface in node.actionclient %}
      	- "{{ interface.name }}": ac-> "TODO::{{ interface.name }}"
      {% endfor %}
      {% for interface in node.serviceserver %}
      	- "{{ interface.name }}": ss-> "TODO::{{ interface.name }}"
      {% endfor %}
      {% for interface in node.serviceclient %}
      	- "{{ interface.name }}": sc-> "TODO::{{ interface.name }}"
      {% endfor %}
      {% endif %}
      {% if node.parameter | length > 0 %}
      parameters:
        {% for parameter in node.parameter %}
        - {{ parameter.name }}: "{{ node.name.full_name }}.{{ parameter.name }}"
          {% if parameter.type == "String" %}
          value: "{{ parameter.value }}"
          {% elif parameter.type == "Boolean" %}
          value: {{ parameter.value | lower }}
          {% else %}
          value: {{ parameter.value }}
          {% endif %}
        {% endfor %}
      {% endif %}
  {% endfor %}
